---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Ticker from "../components/Ticker.astro";
import Manifesto from "../components/Manifesto.astro";
import ProjectsGrid from "../components/ProjectsGrid.astro";
import ImpactStats from "../components/ImpactStats.astro";
import CTASection from "../components/CTASection.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="AAEGB | Início">
  <Header />
  <main>
    <Hero />
    <Ticker />
    <Manifesto />
    <ProjectsGrid />
    <ImpactStats />
    <CTASection />
  </main>
  <Footer />
</Layout>
