---
// src/components/Ticker.astro
---
<div class="bg-saffron py-3 overflow-hidden">
  <div class="ticker inline-block whitespace-nowrap text-forest-950 text-xs font-black tracking-widest uppercase">
    <span class="inline-block px-8">15.000+ Alunos Matriculados</span><span class="opacity-30">&#9670;</span>
    <span class="inline-block px-8">91+ Tabancas Alcançadas</span><span class="opacity-30">&#9670;</span>
    <span class="inline-block px-8">Rádio Voz de Paz FM 107.0</span><span class="opacity-30">&#9670;</span>
    <span class="inline-block px-8">Escola Betel · Pré ao 12º Ano</span><span class="opacity-30">&#9670;</span>
    <span class="inline-block px-8">15 Anos de Presença Contínua</span><span class="opacity-30">&#9670;</span>
    <span class="inline-block px-8">Tombali · Sul da Guiné-Bissau</span><span class="opacity-30">&#9670;</span>
    <span class="inline-block px-8">15.000+ Alunos Matriculados</span><span class="opacity-30">&#9670;</span>
    <span class="inline-block px-8">91+ Tabancas Alcançadas</span><span class="opacity-30">&#9670;</span>
    <span class="inline-block px-8">Rádio Voz de Paz FM 107.0</span><span class="opacity-30">&#9670;</span>
    <span class="inline-block px-8">Escola Betel · Pré ao 12º Ano</span><span class="opacity-30">&#9670;</span>
    <span class="inline-block px-8">15 Anos de Presença Contínua</span><span class="opacity-30">&#9670;</span>
    <span class="inline-block px-8">Tombali · Sul da Guiné-Bissau</span><span class="opacity-30">&#9670;</span>
  </div>
</div>
